@import "libs/_bootstrap-reboot.min"
@import "libs/_bootstrap-grid.min"
@import "libs/_fonts"
@import "_variables"
@import "blocks/header/_header"
@import "blocks/header/_header-media"
@import "blocks/promo/_promo"
@import "blocks/promo/_promo-media"
@import "blocks/_menu"
@import "blocks/_button"
@import "blocks/_services"
@import "blocks/_company"
@import "blocks/_communication"
@import "blocks/_title"
@import "blocks/_form"
@import "blocks/_footer"


*
    font-family: 'Gilroy Bold', sans-serif


    .container
        @media(min-width: 1440px)
            max-width: 1440px
            margin: 0 auto

        @media screen and ( max-width: 575px )
            max-width: 345px
        @media screen and ( max-width: 320px )
            max-width: 300px