.promo
    position: relative
    height: 789px
    background: url(../img/main_bg.jpg) right no-repeat
    z-index: 0
    padding-top: 110px
    .block-white
        width: 800px
        height: 530px
        background: #FFFFFF
        padding-top: 111px
        padding-bottom: 89px
    &__head
        display: flex
        flex-direction: row
        align-items: center
    &__points-pink
        padding-left: 30px
    h1
        padding-left: 156px
        font-size: 85px
        line-height: 130%
    &__points-white
        display: block
        margin-right: 30px
        margin-left: auto