.services
    padding:150px 0px
    &__blocks
        display: flex
        flex-direction: row
        align-items: flex-end
    h2
        font-size: 51px
        line-height: 130%
        color: $font-color
    &__price
        margin-top: 60px
        font-size: 29px
        line-height: 130%
        color: $font-color
    &__descr
        margin-top: 30px
        font-size: 18px
        line-height: 130%
        color: $font-color
    .carousel
        padding-right: 0
        &__inner
            position: relative
            width: 758px
        .slick-prev, .slick-next
            position: absolute
            border: none
            background: #FFD76B
            width: 50px
            height: 50px
            border-radius: 100px
            top: -118px
            left: 460px
            box-shadow: 0px 6px 10px rgba(255, 215, 107, 0.5)
            .prev
                margin-left: 7px
            .next
                margin-left: -37px
            &:hover
                background: rgba(255, 215, 107, 0.5)
        .slick-next
            left: auto
            right: 123px