.title
    display: flex
    flex-direction: row
    align-items: center
    margin-top: 60px
    font-size: 29px
    line-height: 130%
    color: $font-color
    div
        border-radius: 100px
        width: 50px
        height: 50px
        background: rgba(215, 107, 255, 0.32)
    h3
        margin-left: -30px
    &_blue
        div
            background: rgba(1, 141, 202, 0.32)